:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary: #86aea1;
    --secondary:#fd5a5a;
}

.btn-main{
    --bs-btn-color:var(--primary) ;
    --bs-btn-border-color:var(--primary);
    --bs-btn-hover-bg:var(--primary);
    --bs-btn-hover-border-color:var(--primary);
    --bs-btn-active-bg:var(--primary);
    --bs-btn-active-border-color:var(--primary);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
  }

